@keyframes rotate {
    0%{transform: rotate(0deg);}
    50%{transform: rotate(180deg);}
    100%{transform: rotate(360deg);}
}

body{
    background-image: url("background.jpg") ;
    background-size: cover;
    font-family: 'Pacifico';
    background-repeat: no-repeat;
    font-style: italic;

   

}
.header{
    display: flex;
    justify-content: space-between;
    text-align: justify;
    
}
img{
    height: 100px;
    width: 100px;
}
.hi {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    height: 250px;
    width: 250px;
    transition: all 1s;

}
img:hover{
   transform: scale(1.1);
   animation: rotate 2s;
}
.red{
    color: rgb(195, 0, 255);
}
h1{
    color: aqua;
    display: inline;
}
p{
    color:rgb(75, 118, 236);
    font-size: 24px;
}
#list{
    color: rgb(255, 255, 255);
    list-style: none;
    display: inline-block;
    text-align: center;
    display: flex;
    justify-content: space-around;
}
#logo{
    border-radius: 8px;
    border-image: solid;
    border-radius: 50%;
    margin: center;

}
h3{
    color: aqua;
}