body{
    background-image: url("background.jpg") ;
    background-size: cover;
    font-family: 'Lobster Two';}
   


.hi{
    color: rgb(195, 0, 255);
    font-size: 20px;
}
img{
    border-radius: 50%;


}